.App {
  text-align: center;
}

.single-photo {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 1.5em;
  padding: 1em;
  width: 25%;
}

.single-photo img {
  height: 20em;
  width: 100%;
  border-color: teal;
  border-width: 2px;
  border-style: solid ;
}

.navbar {
  margin-bottom: 2em;
  background-color: black;
}

#logo {
  color: #00ffff;
  font-style: italic;
}

.navbar-default .navbar-nav > li > a {
  color: #66ff33;
}

body {
  background: url('./stylesheets/cool-background.png') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.submit-button {
  display: inline-block;
  padding: 5px 15px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.submit-button:hover {
  background-color: #3e8e41;
}

.submit-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.menu-item:hover {
  background-color: red;
  color: white;
}

#welcome_message {
  font-style: italic;
  font-size: 4em;
  font-weight: 400;
}
