.App {
  text-align: center;
}

.single-photo {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 1.5em;
  padding: 1em;
  width: 25%;
}

.single-photo img {
  height: 20em;
  width: 100%;
}

.ml-auto {
  color: black;
}
